body {
  background: image-url("background.jpg") no-repeat center center fixed;
  
}

.jumbotron {
    margin-bottom: 0px;
    height: 350px;
    color: #ffffff;
    text-shadow: black 0.1em 0.1em 0.1em;
    background: transparent;
    text-align: center;
    a{
      font-style: underline;
    }
}

.center-block{
	text-align: center;
}

.alert{
  z-index: 100;
  position: fixed;
  /*top: 0%; */
  left: 25%;
  width: 50%;
  text-align: center;
  /*margin: 0 auto;*/
  text-shadow: none;
}